<div class="container">

  <div class="jumbotron mt-4 mb-4">
    <h1 class="display-4"><%= @power_gauge.name %></h1>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9"><%= @power_gauge.name %></dd>

        <dt class="col-sm-3">Start Date</dt>
        <dd class="col-sm-9"><%= @power_gauge.start_date %></dd>

        <dt class="col-sm-3">End Date</dt>
        <dd class="col-sm-9"><%= @power_gauge.end_date %></dd>

        <dt class="col-sm-3">Unit</dt>
        <dd class="col-sm-9"><%= @power_gauge.unit %></dd>

        <dt class="col-sm-3">Time Unit</dt>
        <dd class="col-sm-9"><%= @power_gauge.time_unit %></dd>
      </dl>
    </div>
  </div>

  <hr>

  <h1 class="mt-4 mb-4">Measurements</h1>

  <div class="card mb-4">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Amount</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @power_gauge.measurements.each do |m| %>
            <tr>
              <td><%= link_to "#{m.id}", gauge_measurement_path(id: m.id, gauge_id: m.power_gauge_id), class: 'btn btn-primary' %></td>
              <td><%= m.amount %></td>
              <% if m.review.present? %>
                <td><%= m.review.status %></td>  
              <% else %>
                <td>Pending</td>  
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= link_to 'Back to Power Gauges', gauges_path, class: 'btn btn-primary mt-4' %>

</div>